<article class="journal-card">
    <a href="{{ .RelPermalink }}">
        {{ $coverURL := "" }}
        {{ with .Params.cover }}
            {{ $res := $.Resources.GetMatch . }}
            {{ if not $res }}
                {{ $res = $.Resources.GetMatch (path.Base .) }}
            {{ end }}
            {{ if $res }}
                {{ $coverURL = $res.RelPermalink }}
            {{ else if or (strings.HasPrefix . "http") (strings.HasPrefix . "/") }}
                {{ $coverURL = . }}
            {{ end }}
        {{ end }}
        {{ if $coverURL }}
        <div class="journal-media">
            <img src="{{ $coverURL }}" alt="{{ .Title }}">
        </div>
        {{ end }}
        <div class="journal-info">
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 Jan 2006" }}</time>
            <h3>{{ .Title }}</h3>
            {{ if .Params.tags }}
            <div class="tags">
                {{ range .Params.tags }}
                    {{ $term := $.Site.GetPage (printf "/tags/%s" (urlize .)) }}
                    {{ if $term }}
                        <a class="tag" href="{{ $term.RelPermalink }}">{{ . }}</a>
                    {{ else }}
                        <span class="tag">{{ . }}</span>
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
        </div>
    </a>
</article>
