{{ define "main" }}
<section class="home-hero">
    <img src="/images/home2a.jpeg" alt="Experimental systems preview" loading="lazy">
    <h1>I design and build experimental systems at the intersection between art and technology</h1>
    

    <div class="home-intro">
        <p>My work is organized in two main sections:</p>
    </div>
    
    <div class="home-links">
        <a href="/systems/" class="home-link">
            <h2>Systems</h2>
            <p>Ongoing and archived systems</p>
        </a>
        
        <a href="/journal/" class="home-link">
            <h2>Journal</h2>
            <p>Experiments, sketches, tests and reflections</p>
        </a>
    </div>
</section>
{{ end }}
